/*-------------------- Calendar actions --------------------*/
.calendar__container {
	width: 100%;
	margin: auto;
	margin-top: 2rem;
	border: 1px solid #e0e0e0;
	padding: 1rem;
	border-radius: 5px;
}

.calendar__actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.calendar__actions-switch-view {
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar__actions-switch-view span {
	margin-right: 1rem;
}

.calendar__actions-date-view p {
	border: 0;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	left: 0;
	padding: 1px 0 0 0;
	color: rgba(0, 0, 0, 0.75);
}

.calendar__actions-switch-date span {
	font-weight: bold;
	cursor: pointer;
	padding: 0 1rem;
	transition: 0.3s all ease;
}

.calendar__actions-switch-date,
.calendar__date-dates > span,
.calendar__container-item-1,
.calendar__container-item-2,
.calendar__date-title {
	user-select: none;
}

.calendar__actions-switch-date span:hover {
	color: #007bff;
}

/*-------------------- Calendario --------------------*/
.calendar {
	border: 1px solid #e0e0e0;
	margin-top: 1rem;
}

.calendar__container-header,
.calendar__container-body {
	display: grid;
	grid-template-columns: 200px 80px 1fr;
	scrollbar-width: none;
}

.calendar__container-body::-webkit-scrollbar {
	display: none;
}

.calendar__container-header {
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1) !important;
}

.calendar__container-body {
	grid-template-rows: auto;
	max-height: 50vh;
	overflow-y: scroll;
}

.calendar-loading {
	text-align: left;
	padding: 2rem;
}

.calendar__container-item-1 {
	border-right: 1px solid #e0e0e0;
}

.calendar__container-item-1,
.calendar__container-item-2 {
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	display: flex;
	justify-content: center;
	padding: 0.5rem 0.5rem;
	text-align: center;
}

.calendar__date-container {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.calendar__date-title {
	text-align: center;
	font-weight: bold;
}

.calendar__date-dates {
	display: grid;
}

.calendar__date-dates > span {
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar__date-dates > span {
	border-left: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
}

.calendar__date-dates > span:first-child {
	border-left: none;
}

.calendar__date-dates > div {
	border-left: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	text-align: center;
}

.calendar__date-dates > div {
	position: relative;
}

.calendar__date-dates > div:first-child {
	border-left: none;
}

.calendar__bookings-items {
	display: grid;
	font-size: 0;
}

.booking ~ .calendar__date-dates > div {
	background-color: red;
}

.calendar__date-dates .booking {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.clip-1 {
	clip-path: polygon(100% 0, 0 100%, 0 0);
}

.clip-2 {
	clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.clip-3 {
	clip-path: polygon(0 0%, 0 100%, 100% 100%);
}

.clip-4 {
	clip-path: polygon(100% 0, 100% 100%, 0% 100%);
}

.current-day {
	background-color: #d9edf7;
}

.error {
	display: block;
	color: crimson;
	font-family: 'Courier New', Courier, monospace;
}
